<!DOCTYPE html>
<footer>
    <h4>Sew What?</h4>
    <ul>
        <li>
            <a href="https://github.com/33301Zp">GitHub</a>
            <span>&#9728;</span>
            <a href="https://33301zp.github.io">GitHub.io</a>
            <span>&#9728;</span>
            <a href="https://33301zp.github.io/web250/index.html">WEB250.io</a>
            <span>&#9728;</span>
            <a href="http://freecodecamp.org/ZOpo24">freeCodeCamp</a>
            <span>&#9728;</span>
            <a href="http://codecademy.com/profiles/ZoePotts4444">Codecademy</a>
            <span>&#9728;</span>
            <a href="https://jsfiddle.net/u/ZEpozozo44/fiddles/">JSFiddle</a>
            <span>&#9728;</span>
            <a href="https://www.linkedin.com/in/zoe-potts-4a2549281/">LinkedIn</a>
        </li> 
    </ul>
        <p>Created by Zoe Potts &copy;2024, certified in <a href="https://www.freecodecamp.org/certification/ZOpo24/responsive-web-design">Responsive Web Design</a></p>
</footer>