<!DOCTYPE html>
    <footer>
        <h4>Sew What?</h4>
        <ul>
            <li>
                <a href="https://github.com/33301Zp">GitHub&#9728;</a>
                <a href="https://33301zp.github.io">GitHub.io&#9728;</a>
                <a href="https://33301zp.github.io/web250/index.html">WEB250.io&#9728;</a>
                <a href="http://freecodecamp.org/ZOpo24">freeCodeCamp&#9728;</a>
                <a href="http://codecademy.com/profiles/ZoePotts4444">Codecademy&#9728;</a>
                <a href="https://jsfiddle.net/u/ZEpozozo44/fiddles/">JSFiddle&#9728;</a>
                <a href="https://www.linkedin.com/in/zoe-potts-4a2549281/">LinkedIn</a>
            </li> 
	    </ul>
            <p>Created by Zoe Potts &copy;2024</p>
	</footer>