<!DOCTYPE html>
    <footer>
        <ol>
            <li>
                <a href="https://github.com/33301Zp">GitHub&nbsp;||</a>
                <a href="https://33301zp.github.io">GitHub.io&nbsp;||</a>
                <a href="https://33301zp.github.io/web250/index.html">WEB250.io&nbsp;||</a>
                <a href="http://freecodecamp.org/ZOpo24">freeCodeCamp&nbsp;||</a>
                <a href="http://codecademy.com/profiles/ZoePotts4444">Codecademy&nbsp;||</a>
                <a href="https://jsfiddle.net/u/ZEpozozo44/fiddles/">JSFiddle&nbsp;||</a>
                <a href="https://www.linkedin.com/in/zoe-potts-4a2549281/">LinkedIn</a>
            </li> 
	    </ol>
            <p>Created by Zoe Potts&copy;2024</p>
	</footer>