<!DOCTYPE html>
<header>
    <h1><img src="images/web250_logo_small.png" alt="logo">Zoe Potts' Sew It<img src="images/web250_logo_small.png" alt="logo"></h1>
    <hr>
        <nav>
            <ul>
                <li>
                    <a href="index.html">Home </a>
                    <a href="introduction.html">Introduction </a>
                    <a href="introduction_form.html">Introduction Form </a>
                    <a href="fizzbuzz_bang_everything.html">FizzBuzzBangEverything! </a>
                    <a href="contract.html">Contract </a>
                    <a href="brand.html">Brand </a>
                </li>
            </ul>
        </nav>
</header>

            