body
{
  margin: 100px;
  font-family: candara;
  color: rgb(10, 8, 32);
  background-color: rgb(188, 172, 247);
  font-size: 200%;
  max-width: 1200px;
  margin: 0 auto;
}
main {
  background-color: rgba(221, 153, 238, 0.644);
  width: 100%;
  height: 50%;
  margin: 30px;
  box-sizing: border-box;
  border: 3px solid rgb(122, 3, 86, 0.733);
  padding: 20px;
  margin: auto;
  font-size: 80%;
}
header 
{
  font-family: Trebuchet MS;
  font-size: 100%;
  padding-top: 2px;
  padding-bottom: 10px;
}
nav {
  list-style-type: none;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
nav ul li {
  display: inline;
}
nav ul li a, nav ul li {
  text-decoration: none;
  color: rgb(73, 8, 73);
  margin-right: 40px;
}
nav ul li a:last-child, nav ul li {
  margin-right: 0;
}
a:hover {
  color: rgb(236, 52, 27);
}
h1 {
  font-size: 130%;
  color: rgb(85, 11, 73);
  font-family: Trebuchet MS;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
}
h2 {
  font-size: 110%;
  color: rgb(85, 11, 73);
  font-family: Trebuchet MS;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
}
hr {
  border: none;
  border-top: 2px solid rgb(122, 3, 86, 0.733);
  width: 80%;
}
figure {
  text-align: center;
  font-size: 80%;
}
figcaption {
  font-style: italic;
}
h3 {
  font-size: 90%;
  font-weight: bold;
}
h4 {
  font-style: italic;
  font-size: 80%;
}
.custom-list {
  list-style-type: disc;
}
footer {
  text-align: center;
  font-size: 90%;
}
footer ul {
  list-style-type: none;
}
.container {
  display: flex;
}
.column {
  margin: 0 10px;
}
a {
  text-decoration: none;
  color: rgb(75, 20, 23);
}
footer ul li a {
  text-decoration: none;
  color: rgb(73, 8, 73);
}
input[type="submit"] {
  margin-top: 20px;
  justify-content: center;
}
input[type="submit"]:hover {
  background-color: rgba(10, 107, 35, 0.767);
  box-shadow: 0px 0px 30px rgba(4, 245, 24, 0.712);
  color: white;
}
input[type="reset"] {
  margin-top: 20px;
  margin-bottom: 40px;
}
input[type="reset"]:hover {
  background-color: rgb(196, 7, 7);
  box-shadow: 0px 0px 30px rgba(245, 4, 4, 0.712);
  color: white;
}
input {
  margin-top: 10px;
  margin-bottom: 10px;
}
li::before {
  content: attr(data-prompt);
}
li::after {
  content: attr(data-slash);
}
p::after {
  content: attr(data-colon);
}
p a {
  font-style: italic;
}