body
{
  margin: 100px;
  font-family: garamond;
  color: rgb(18, 14, 68);
  background-color: rgb(188, 172, 247);
  font-size: 200%;
  max-width: 1200px;
  margin: 0 auto;
}
header 
{
  font-family: garamond;
  color:rgb(2, 2, 26);
  font-size: 160%;
  text-align: center;
}
ol
{
  list-style-type: none;
}
a {
  text-decoration: none;
  color: rgb(75, 20, 23);
}
a:hover {
  color: rgb(236, 52, 27);
}
h1, h2
{
  color: rgb(253, 249, 249);
  font-size: 100%;
  font-family: candara;
  background-color: rgba(138, 95, 138, 0.692);
  text-align: center;
}
.custom-list {
  list-style-type: disc;
}
figure {
  text-align: center;
}
h3 {
  text-align: center;
}
ul {
  text-align: center;
  list-style-type: none;
}