body
{
  margin: 100px;
  font-family: Tahoma;
  color: rgb(18, 14, 68);
  background-color: rgb(188, 172, 247);
  font-size: 180%;
  max-width: 1200px;
  margin: 0 auto;
}
main > article {
  background-color: rgba(243, 134, 238, 0.767);
  width: 100%;
  height: 50%;
  margin: 30px;
  box-sizing: border-box;
  border: 3px solid rgb(255, 7, 181);
  padding: 20px;
  margin: auto;
}
header 
{
  font-family: Tahoma;
  font-size: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
header ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
header ol li {
  display: inline;
}
header ol li a {
  text-decoration: none;
  color: rgb(73, 8, 73);
  margin-right: 40px;
}
header ol li a:last-child {
  margin-right: 0;
}
ol
{
  list-style-type: none;
}
a:hover {
  color: rgb(240, 0, 120);
}
h1, h2
{
  color: rgb(253, 249, 249);
  font-size: 110%;
  font-family: Trebuchet MS;
  background-color: rgba(138, 95, 138, 0.692);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
figure {
  text-align: center;
  font-size: 80%;
}
figcaption {
  font-style: italic;
}
.custom-list {
  list-style-type: disc;
}
footer {
  text-align: center;
  font-size: 90%;
}
a {
  text-decoration: none;
  color: rgb(75, 20, 23);
}
footer ol li a {
  text-decoration: none;
  color: rgb(73, 8, 73);
}
figcaption {
  font-style: italic;
}
p a {
  font-style: italic;
  font-weight: bold;
}
h3 {
  font-style: italic;
  text-align: center;
  font-size: 90%;
}
h4 {
  font-weight: bold;
}
article {
  font-size: 80%;
}
